/* Style de base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000; 
    color: #ffffff; 
    display: flex; 
    flex-direction: row;
    height: 100vh; 
}

/* Section de l'image */
.image-section {
    width: 40%; 
    height: 100%; 
    background-image: url("images/piano.jpeg"); 
    background-size: cover; 
    background-position: center; 
}

/* Section du contenu */
.content-section {
    width: 60%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}

/* Titre */
.content-section h1 {
    margin-top: 0; 
}

/* Bouton About */
button.btn {
    background: #0078d7;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    align-self: flex-start; 
}


button.btn:hover {
    background: #005bb5;
}



footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: white;
}

.video-section {
    text-align: center;
    margin-top: 20px;
}

.video-section video {
    border: 3px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 4, 4, 0.911);
}

/* Section des icones réseaux */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.social-icons a {
    font-size: 30px;
    color: #f8fbfb;
    text-decoration: none;
    transform: translateY(50px);
}

.social-icons a:hover {
    color: #0073e6; 
}


/* Bannière Spotify */
.spotify-section { 
    margin-top: 30px;;
}